<a href="https://colab.research.google.com/github/guptadivyansh2000/Task_2/blob/main/Untitled10.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Task 2** 

**Registration Id :- SIRSS1186**

**Name : Divyansh Gupta**

**Q1. Write a lambda expression to extract first word of a string.**

In [1]:
str1=input()
a=lambda x:x.split(' ')[0]
print(a(str1))

my name is
my

**Q2. Write a function to extract first word of s string (with many words separated by space).**

In [2]:
def first_word(s):
  return s.split(' ')[0]

In [3]:
first_word('divyansh gupta')

'divyansh'

**Q3.Extract the first word from every string from a list of strings by using map function.**

In [4]:
list1=[]
a=int(input("enter the number of string "))


for i in range(a):
   str1=input("enter a string  ")
   list1.append(str1)
      
def fun1(b):
    return [b.split(' ')[0]]

print("list of strings" ,end=' ')
print(list1)      
result=map(fun1,list1)
print(list(result))

enter the number of string 2
enter a string  my name is
enter a string  divyansh gupta
list of strings ['my name is ', 'divyansh gupta']
[['my'], ['divyansh']]

**Q4. Write a function to return a list of prime factors of a given number.**

In [5]:
def prime_factors(a):
    i = 2
    factors = []
    while i * i <= a:
        if a % i:
            i += 1
        else:
            a//= i
            factors.append(i)
    if a > 1:
        factors.append(a)
    return factors
a=int(input("enter a number :"))
prime_factors(a)

enter a number :5

[5]

**Q5. Write a function that finds 2nd largest among 4 numbers (Repetitions are allowed,without sorting).**

In [13]:
def second_largest(list2):
  mx=max(list2[0],list2[1])
  secondmax=min(list2[0],list2[1])
  n =len(list2)
  for i in range(2,n):
    if list2[i]>mx:
        secondmax=mx
        mx=list2[i]
    elif list2[i]>secondmax and  mx != list2[i]:
        secondmax=list2[i]
  print("Second highest number is : ",secondmax)


list2=[]
a=int(input())
for i in range(a):
  i=int(input())
  list2.append(i)
print(list2)
second_largest(list2)

3
17
5
6
[17, 5, 6]
Second highest number is :  6